body.caerp .user_header .user_avatar {
  clip-path: circle(3rem);
  flex: 0 0 6rem;
  height: 6rem;
  margin: 0 var(--padding-xl) 0 var(--padding-m);
  width: 6rem; }
  body.caerp .user_header .user_avatar svg {
    height: 4.5rem;
    margin: 1.5rem .75rem 0;
    width: 4.5rem; }

body.caerp .user_header .btn {
  margin-left: var(--padding-xl); }

body.caerp .user_header p {
  padding-bottom: var(--padding-m); }

body.caerp .user_header .highlight {
  padding: 2px .5em; }

body.caerp .user_header + .layout.flex {
  margin-top: var(--padding-5xl); }

body.caerp .user_dashboard .separate_bottom {
  align-items: center;
  margin: 0;
  padding: var(--padding-m) 0; }

body.caerp .user_dashboard p + .btn,
body.caerp .user_dashboard p + .btn-container .btn {
  margin-top: var(--padding-s); }

body.caerp .content_vertical_padding .btn {
  margin: var(--padding-s) 0; }

body.caerp .doc_list .form-group {
  padding-bottom: var(--padding-s);
  width: 100%; }
