pre, code {
    font-family: "JetBrains Mono", sans-serif !important;
    * {
        font-family: "JetBrains Mono", sans-serif !important;
    }
    overflow: auto;
}

pre.highlight {
    border-radius: 2px;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
    background: transparent;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 8px;
}

.d-code-copy {
    position: absolute;
}

[data-linenos]:before {
  content: attr(data-linenos);
}

.d-syntax-scheme-primary-color {
    .token.directive,
    .token.directive-hash,
    .token.keyword {
        color: var(--d-page-primary-color);
    }
    .token.string {
        color: #558B2F;
    }
}

.d-syntax-scheme-material {
    .token.directive,
    .token.directive-hash,
    .token.keyword {
        color: #C2185B;
    }
    .token.string {
        color: #558B2F;
    }
    .token.number {
        color: #1976D2;
    }
    .token.function {
        color: #424242;
    }
}
