.d-css-media-debug::after {
    content: "none";

    @media only screen and (max-width: 992px) {
        content: "max-w: 992px";
    }

    @media only screen and (max-width: 600px) {
        content: "max-w: 600px";
    }
}
