.d-footer-nav-buttons {
    background: var(--d-page-primary-color);
    margin: 0;
    height: 96px;
    * {
        color: #fff;
    }
    padding-left: 64px;
    padding-right: 64px;

    @media only screen and (max-width: 600px) {
        padding-left: 16px;
        padding-right: 16px;
    }

    a {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: end;
        padding: 24px!important;
    }

    div {
        display: flex;
    }

    div span {
        font-weight: 500;
    }

    a span {
        font-size: 16px;
        opacity: .6;
        margin-left: 32px;
    }

    div span {
        font-size: 18px;
        opacity: .9;
        margin-left: 8px;
    }
}

@media only screen and (max-width: 600px) {
    .d-footer-nav-left {
        span {
            display: none;
        }
        i {
            margin-bottom: 3px;
        }
    }
}

.d-footer-nav-right {
    align-items: end;
    span {
        margin-left: 0;
        margin-right: 32px;
    }
    div {
        flex-direction: row-reverse;
    }
    div span {
        margin-left: 0;
        margin-right: 8px;
    }
}