.d-glossary-def-sheet {
    max-width: 600px;
    margin-left: auto!important;
    margin-right: auto!important;
    .modal-content {
        padding-top: 8px!important;
    }
    .d-glossary-def-sheet-header {
        width: 100%;
        background-color: var(--d-glossary-header-bg);
        padding: 16px 24px 16px 24px;
    }
}
