.d-cool-page-start {
    height: 240px;
    display: flex;
    align-items: end;
    padding-left: 64px;
    padding-right: 24px;
    padding-bottom: 48px;
    font-size: 56px;
    background-color: var(--d-page-primary-color);
    @media only screen and (max-width: 600px) {
        padding-left: 32px;
        height: 160px;
        font-size: 36px;
        padding-bottom: 24px;
    }
}

.d-page {
    padding-left: 64px;
    @media only screen and (max-width: 600px) {
        padding-left: 24px;
        padding-right: 24px;
    }
    flex-grow: 1;
}

.d-toc {
    margin-top: 16px;
    h2 {
        font-size: 16px;
        color: rgb(97, 97, 97);
    }
    a:hover, a.active {
        padding-left: 14px;
        border-left: 2px solid var(--d-page-primary-color);
    }
    .d-toc-wrapper {
        max-height: calc(100dvh - 192px);
        &.pinned {
            padding-right: calc(64px + .75rem);
        }
        overflow-y: auto;
        /*direction: rtl;*/
        /*& > * {*/
        /*    direction: ltr;*/
        /*}*/
        /*padding-left: 16px;*/
        scrollbar-width: none;
    }
}

.d-content {
    width: 60%;

    h1 {
        font-size: 34px;
        color: var(--d-page-primary-color);
    }
    h2 {
        font-size: 24px;
        color: var(--d-page-primary-color);
    }
    h3 {
        font-size: 20px;
        color: var(--d-page-primary-color);
    }
    blockquote {
        border-left: 5px solid var(--d-page-primary-color);
    }
    label.task-list-control {
        vertical-align: middle;
    }
    dt {
        margin-top: 24px;
        margin-bottom: 12px;
    }
    img {
        max-width: 95%;
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        tbody, thead {
            display: table;
            width: 100%;
        }
    }
    ul:not(.tabs, .collection, .task-list) li {
        list-style: square!important;
    }
    ul:not(.tabs, .collection, .task-list) {
        padding-inline-start: 40px;
    }
    ul.task-list ul {
        padding-inline-start: 40px;
    }
}

.material-tooltip {
    transform: translateX(50%)!important;
    max-width: 50%;
    @media only screen and (max-width: 600px) {
        max-width: 90%;
    }
}
