.tabs .tab a:hover, .tabs .tab a.active {
    color: var(--d-page-primary-color);
    opacity: 1;
}

.tabs .tab a {
    color: var(--d-page-primary-color);
    opacity: 0.7;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: transparent;
}

.tabs .indicator {
    background-color: var(--d-page-primary-color);
}

.d-tab {
    margin-bottom: 1rem;
}