[project]
name = "poetry-analysis"
dynamic = []
description = "Tool to parse and annotate Norwegian poetry."
authors = [
    { name = "Ingerid Dale", email = "ingerid.dale@nb.no" },
]
dependencies = [
    "nb-tokenizer",
    "pandas",
    "convert-pa",
]
requires-python = ">=3.11"
readme = "README.md"
version = "0.3.11"

[project.license]
text = "CC-BY-4.0"

[project.urls]
Repository = "https://github.com/norn-uio/poetry-analysis.git"
Issues = "https://github.com/norn-uio/poetry-analysis/issues"

[project.optional-dependencies]
docs = [
    "mkdocs>=1.6.1",
    "mkdocs-material>=9.6.21",
    "mkdocstrings>=0.30.1",
    "mkdocstrings-python>=1.18.2",
    "pymdown-extensions>=10.16.1",
]

[dependency-groups]
dev = [
    "pytest",
    "ruff",
    "mypy",
    "ipykernel",
    "pre-commit",
    "jupytext",
]

[build-system]
requires = [
    "pdm-backend",
]
build-backend = "pdm.backend"

[tool.pdm]
distribution = true

[tool.pdm.version]
source = "scm"

[tool.pytest.ini_options]
addopts = "--doctest-modules"

[tool.coverage.report]
skip_empty = true

[tool.coverage.run]
branch = true
source = [
    "poetry_analysis",
]

[tool.mypy]
files = [
    "poetry_analysis",
]
disallow_untyped_defs = "True"
disallow_any_unimported = "True"
no_implicit_optional = "True"
check_untyped_defs = "True"
warn_return_any = "True"
warn_unused_ignores = "True"
show_error_codes = "True"

[tool.ruff]
line-length = 120
fix = true

[tool.ruff.lint]
select = [
    "YTT",
    "S",
    "B",
    "A",
    "C4",
    "T10",
    "SIM",
    "I",
    "C90",
    "E",
    "W",
    "F",
    "PGH",
    "UP",
    "RUF",
    "TRY",
]
ignore = [
    "E501",
    "E731",
    "S101",
    "RUF001",
    "S105",
    "S106",
]
