/* liege.urban stylesheet */

.urban_state_deposit, .urban_state_folder_creation {
    background-color: grey;
}

.urban_state_validating_address{
    background-color: grey;
}

.urban_state_waiting_address, .urban_state_public_investigation, .urban_state_technical_analysis_post_investigation, .urban_state_display_in_progress{
    background-color: orange;
}

.urban_state_procedure_choice, .urban_state_college_council_passage {
    background-color: purple;
}

.urban_state_incomplete{
    background-color: black;
}

.urban_state_checking_completion{
    background-color: #ea6619;
}

.urban_state_validating_completion, .urban_state_technical_analysis_validation{
    background-color: #ea6619;
}

.urban_state_complete, .urban_state_authorized{
    background-color: green;
}

.urban_state_acceptable{
    background-color: green;
}

.urban_state_acceptable_with_conditions{
    background-color: green;
}

.state-acceptable_with_conditions {
    color: green !important;
}

.urban_state_inacceptable, .urban_state_refused, .urban_state_abandoned{
    background-color: red;
}

.urban_state_Passed{
    background-color: #75ad0a;
}

.urban_state_Cancelled{
    background-color: red;
}
