[project]
name = "ldr-modelling"
version = "0.2.0"
description = "Pydantic helpers to inherit from when modelling data."
readme = "README.md"
authors = [{ name = "Louder", email = "devops@louder.com.au" }]
requires-python = ">=3.12"
packages = ["src/ldr/modelling"]
dependencies = [
    "pydantic>=2.0",
    "shapely>=2.0",
]

[dependency-groups]
dev = [
    "black==23.12",
    "orjson>=3.11.3",
    "pytest>=8.4.1",
    "pytest-cov>=6.2.1",
    "pytest-env>=1.1.5",
    "ruff==0.3",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build]
packages = ["src/ldr"]

[[tool.uv.index]]
name = "testpypi"
url = "https://test.pypi.org/simple/"
publish-url = "https://test.pypi.org/legacy/"
explicit = true

[tool.ruff]
line-length = 88
lint.select = ["ALL"]
# Comments describe what disabling the rule allows for
lint.ignore = [
    "A003",     # Allow shadowing builtins (e.g. `id`, `list`) on classes
    "ANN102",   # Don't annotated `cls`.
    "ANN401",   # Allow annotating with `Any` (e.g. `def foo(**kwargs: Any):...`)
    "D203",     # Require no blank lines before class docstring
    "D212",     # Require starting multi-line docstring on a new line
    "EM101",    # Allow raw string literals as exception messages
    "EM102",    # Allow f-strings as exception messages
    "TRY003",   # Allow specifying messages inside the exception class
    "PLR0913",  # Allows for more than 5 args to a function
    "FIX002",   # Allow use of TODO in correct format
    "COM812",   # Must be disabled for ruff format
    "G004",     # Allow f-strings in log messages
    "PGH004",   # Allow use of `ruff: noqa` in generated files
]

[tool.ruff.lint.per-file-ignores]
"__init__.py" = ["D104"]     # Allow for empty __init__.py files
"**/*/test_*.py" = [
  "S101",   # Allow asserts in tests
  "SLF001", # Allow accessing private members of modules for testing
]

[tool.pytest.ini_options]
addopts = "--cov=ldr --cov-report=html --cov-fail-under=80 --log-cli-level=DEBUG"
log_cli = true

[tool.coverage.run]
omit = []
